*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header h1 div{
    width: 100% !important;
    color: white !important;    
    margin-top: 2rem !important;
}

.headerDiv{
    width: 100%;
    font-size: 2em;
    position: absolute;
    left: 10%;
    top: 2%;
}

header {
    color: white !important;    
    background-color: #6FD9D8;
}
.header{
    width: 100%;
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
}

header h1 {
    min-height: 0rem;
    height: 0px;
}

.header_name{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.main_content {
    background: linear-gradient(to bottom, #68d8d6, #ffffff);
    color: #454749;

    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 70vh;
}

.my_link{
    display: inline-block;
    white-space: nowrap;
    background-color: #337ab7;
    color: white;
    padding: 2%;
    width: 45%;
    border: 1px solid #2e6da4;
    border-radius: 4%;
}
.my_link:hover{
    background-color: #55a7f0;
    border: 1px solid #357ebd;
}

.link_default{
    color: #fff;
    text-decoration: none;
}

.tile {
    background-color: #ffffff;

    width: 100%;
    position: relative;
    margin: 0 auto;
    min-width: 500px;
    max-width: 24rem;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
}
.shadow{
    box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.2), 0 .25rem .25rem rgba(0, 0, 0, 0.2);
}

section.container{

    padding: 16px;
    border: 1px #e8e8e8 solid;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    margin:8% 0;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}

.dropzone_box{
    text-align: center;
    margin: 0% auto;
}

.active{
    color: white
}

.navlink{
    font-size: 1.5rem !important;
}

.wrap {
    background: #eaeaea;
    height: 100%;
    text-align: center;
    padding-top: 31px;
    box-sizing: border-box;
    font-size: 49px;
    background-size: contain !important;
    background-position: center center !important;
    border: 1px solid #eaeaea;
}

.data-viz{
    margin-top: 5rem !important;
}

.mapSegment{
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

footer{
    background-color: #454749;
    color: #ffffff;
    width: 100%;
    height: 100px;
    font-size: 135%;
    position: fixed;
    bottom: 0;
}

footer p{
    transform: translateY(3rem);
    color: #888;
    text-align: center;
}

#nprogress .bar {
    background: white !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px white, 0 0 5px white !important;
}

#nprogress .spinner-icon {
    border-top-color: white !important;
    border-left-color: white !important;
}